{% comment %}
{{ content_for_index }}
{% endcomment %}

<h1>WE SHIP OVERNIGHT NATIONWIDE</h1>
<h2>You buy it by the box</h2>

<p>We deliver Tuesday-Friday and offer the ability to schedule ahead.</p>

<a href="#" class="button">view menu</a>