{% comment %}
{{ content_for_index }}
{% endcomment %}

{% section 'hero-banner' %}

<div class="subscribe-section">
	<div class="grid-container text-center">
		<div class="grid-x grid-padding-x align-center">
			<div class="cell large-6">
				<h2>You buy it by the box</h2>
				<p>Choose 7-8 products of your liking and have it delivered to your door as often as you want. Your pick, every time.</p>
			</div>
		</div>
		<div class="grid-x grid-padding-x align-center">
			<div class="cell large-10">
				<div class="grid-x grid-padding-x">
					<div class="cell medium-3 medium-offset-1 subscribe-section__step">
						<span class="step-index">01</span>
						<div class="step-label">
							<strong>Build Your Box</strong>	
						</div>
					</div>
					<div class="cell medium-3 medium-offset-1 subscribe-section__step">
						<span class="step-index">02</span>
						<div class="step-label">
							<strong>Subscribe Or Don't</strong>
						</div>
					</div>
					<div class="cell medium-3 medium-offset-1 subscribe-section__step">
						<span class="step-index">03</span>
						<div class="step-label">
							<strong>Pick a Deliery Day</strong>
							<span>we ship<br />overnight</span>							
						</div>
					</div>
				</div>
				<a href="#" class="button">Shop the Menu</a>
			</div>
		</div>
	</div>
</div>

{% section 'drinks-slides' %}

{% section 'product-grid' %}

{% section 'featured-collection' %}

{% section 'locations' %}